<div class="sidebar" [class.open]="open">
    <ul class="menu-items">
        <li routerLinkActive="active">
            <a routerLink="/dashboard">
                <i class="fa fa-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/reservations">
                <i class="fa fa-calendar"></i>
                <span>Reservations</span>
            </a>
        </li>
        <!-- Additional links as needed -->
    </ul>
</div>